<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!--
    <page-router-outlet></page-router-outlet>
-->
<StackLayout height="100%" class="m-15" backgroundColor="blue">
<FlexboxLayout flexDirection="column" class="page">
            <Label text="TEST"></Label>
            <Label text="TEST"></Label>
            <Label text="TEST"></Label>
            <Image src="assets/img/poc.jpeg" width="500" height="500" left="0"></Image>
</FlexboxLayout>
</StackLayout>